<footer>
    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-text">
                Copyright &copy; 2025 brittni watkins.
            </span>
        </div>
    </nav>
</footer>
