<!DOCTYPE html>
<html>
    <%- include('includes/head', { title: 'Pictures' }) %>
    <body>
        <div class="container">
            <p class="text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Commodore_Grace_M._Hopper%2C_USN_%28covered%29_head_and_shoulders_crop.jpg/500px-Commodore_Grace_M._Hopper%2C_USN_%28covered%29_head_and_shoulders_crop.jpg" />
            </p>

            <p class="text-center">
                <img src="https://covers.openlibrary.org/b/isbn/9780448095011-L.jpg" />
            </p>
        </div>
        <%- include('includes/footer') %>
        <%- include('includes/closing-scripts') %>
    </body>
</html>